@import './utils/vars';
@import './utils/plaseholders';
@import './utils/mixins';
@import './components/logo';
@import './components/nav-menu';
@import './components/page-header';
@import './components/modal-form';

header {
  border: 1px solid #ececec;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *:focus {
    outline: 2 px solid black;
  } */
/* <header> */
/* Логотип */
/* .nav-flex a([href="./index.html"]) {
    display: flex;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 215px;
    min-width: 153px;
  } */

/* Контакты */
/* .contacts {
    display: flex;
    margin-left: auto;
  } */

.contacts-flex {
  display: flex;
  margin-left: auto;
}

.contacts a + a {
  margin-left: 30px;
}

.contacts > a {
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;
  /* fill: var(--color2, #757575); */

  transition: color $timing-animation;
}

.contacts > a:hover,
.contacts > a:focus {
  color: $accent-color;
  /* fill: $accent-color; */
  --color2: #2196f3;
}

.hdr-icon {
  margin-right: 10px;
  fill: var(--color2, #757575);
  transition: fill $timing-animation;
}

/* </header> */

/* <studio-main> */

.overlay {
  @include centredFlex;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  /* background-image: url(../images/Header-img.jpg); */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-top: 0;
  margin-bottom: 30px;
}

.order {
  /* margin-top: 350px;
    margin-bottom: 200px;
    margin-left: 700px;
    margin-right: 700px; */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  text-transform: none;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  /* border: 1px solid transparent; */
  padding: 10px 32px;
  /* align-items: center; */
  text-align: center;
}

/* Особенности */

.feature-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-items {
  display: flex;
  justify-content: space-between;
}

.feature-items li + li {
  margin-left: 30px;
}
.feature-items h3 {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-main-color;
}

.feature-items p {
  display: block;
  margin: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;
}

.feature-item:before {
  display: block;
  content: '';
  height: 120px;
  background-color: $background-primary-gray;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
/* Чем мы занимаемся */
.employment-item {
  position: relative;
}

.employments-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.employments {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.employments-container {
  padding-bottom: 94px;
}

.employments-title {
  display: block;
  margin: 0 0 50px 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-main-color;
}

.employments-name {
  margin: 0;
  /* тимчасово */
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  background: $background-primary-dark;
  /* bg */
  /* position: absolute; */
  /* width: 370px;
    height: 70px;
    left: 615px;
    top: 1435px; */
}

.employments li + li {
  margin-left: 30px;
}

.employments-name {
  @include centredFlex;
}

/* Наша команда */

/* .box {
    margin-top: 94px;
    margin-bottom: 94px;
    padding-bottom: 94px;
    outline: 1px solid yellow;
    background: #2196f3;
  }
  
  .box-title {
    display: block;
    margin: 0;
  }
  
  .box-items {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
  }
  
  .box-items > li + li {
    margin-left: 30px;
  } */

.our-team-bg {
  background-color: $background-primary-gray;
  /* margin-top: 94px; */
  /* margin-bottom: 94px; */
}
.team-box {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid yellow; */
  /* background: #2196f3; */
}

.team-body {
  background: $primary-white-color;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  padding-bottom: 24px;
}

.team-title {
  display: block;
  margin: 0 0 50px 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-main-color;
  /* Наша команда */
  /* position: absolute; */
  /* width: 264px;
    height: 42px;
    left: 668px;
    top: 1693px; */
}

.team-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.team-items > li + li {
  margin-left: 30px;
}

.team-items > li {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

/* .team-body h3 */
.team-name {
  display: block;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-main-color;
}

/* .team-body p */
.team-function {
  display: block;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
}

.social-link {
  @include centredflex;
}

.social-link-svg {
  @include centredflex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color $timing-animation;
}

.social-link li:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: var(--color1, $primary-icon-color);
  transition: fill $timing-animation;
}

.social-link a:hover,
.social-link a:focus {
  --color1: #ffffff;
  background-color: $accent-color;
  outline-width: 0px;
}

/* Постоянные клиенты  */

.customer-box {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-title {
  display: block;
  margin: 0 0 50px 0;
}

.customer-items {
  @include centredflex;
}

.customer-item {
  @include centredflex;
  /* outline: 1px solid red; */
}

.customer-item:not(:last-child) {
  margin-right: 30px;
}
.customer-link {
  @include centredflex;
  width: 170px;
  height: 90px;
  border: 1px solid $primary-icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  /* color: $primary-icon-color; */
  fill: var(--color1, $primary-icon-color);

  transition: border $timing-animation;
}

.customer-icon {
  /* fill: currentColor; */
  fill: var(--color3, $primary-icon-color);
  transition: fill $timing-animation;
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid $accent-color;
  --color3: #2196f3;
}

/* .customer-link:hover .customer-icon,
  .customer-link:focus .customer-icon {
    --color1: $accent-color;
  } */

.customer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-main-color;
  /* Постоянные клиенты */
  /* position: absolute;
    width: 390px;
    height: 42px;
    left: 606px;
    top: 2395px; */
}

/* .customer img:hover,
  .customer img:focus {
    background-color: $accent-color;
  } */

/* </studio-main> */

/* .order button:hover,
  .subsorder button:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    outline-width: 0px; */

/* <PORTFOLIO main> */

/* Портфолио меню */

/* filters */

.pf-body {
  padding-top: 93px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filters > li:not(:last-child) {
  margin-right: 8px;
}
.filters button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-main-color;
  background-color: $background-primary-gray;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  border: 0;
  /* outline-width: 0px; */

  transition: color $timing-animation, background-color $timing-animation;
}

.filters button:hover,
.filters button:focus {
  color: $primary-white-color;
  background-color: $accent-color;
  cursor: pointer;
}

/* Наши клиенты */

.card-title h2,
.card-discription p {
  display: block;
  margin: 0;
}
.card-body > :not(:last-child) {
  margin-bottom: 4px;
}

.card-body {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  /* margin: 15px; */
}

.clients-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.clients-item:nth-child(3n) {
  margin-right: 0;
}

.clients-item:nth-child(n + 4) {
  margin-top: 30px;
}

.clients-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $dark-main-color;
}

.clients-list .card-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $text-color;
}

.card-image-container {
  position: relative;
  overflow: hidden;
}

.card:hover .info-overlay,
.card:focus-within .info-overlay {
  transform: translateY(0%);
  /* transform: opacity: 1; */
  /* opacity: 1; */
}

.card {
  /* opacity: 0; */
  /* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12); */
  transition: box-shadow $timing-animation;
}

.card:hover,
.card:focus-within {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.info-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  /* opacity: 0; */
  transform: translateY(100%);
  height: 100%;
  overflow: hidden;
  transition: transformY, $timing-animation;
  /* transition: opacity, $timing-animation; */

  display: inline-block;
  padding: 63px 24px;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  background-color: $accent-color;
}

/* </PORTFOLIO main> */

/* <footer> */

footer {
  background: $primary-footer-color;
}

.company-address {
  margin-top: 60px;
  margin-bottom: 60px;
}
.company-address > a {
  margin-bottom: 8px;
}

.footer-address a {
  display: block;
  margin-top: 9px;
}

.logo-studio-bottom {
  color: $primary-white-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /*   */
}

.footer-top-box {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-content: center;
    justify-content: space-between; */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* height: 193px; */
}

.studio-social-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.company-address {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid aqua; */
  /* height: 120px; */
}

.studio-social-links li + li {
  margin-left: 10px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}

.footer-address a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address a:hover,
.footer-address a:focus {
  cursor: url(../images/finger.svg), pointer;
}

.join {
  height: 41%;
  margin-left: 69px;
  /* outline: 1px solid aqua; */
}

.join b {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 10px;
}

.join a {
  /* display: flex; */
  color: $primary-white-color;
}

.social-icon-fr {
  /* width: 20px;
    height: 20px; */
  fill: var(--color1, #ffffff);
}

/* .social-link a:hover,
  .social-link a:focus {
    --color1: $primary-white-color;
    background-color: $accent-color;
    outline-width: 0px;
  } */

.sl-fr {
  @include centredflex;
}

.sl-fr a {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color $timing-animation;
}

.sl-fr a:hover,
.sl-fr a:focus {
  cursor: url(../images/finger.svg), pointer;
}

.subscribe-form {
  display: flex;
  /* flex-direction: column; */
  margin-left: 94px;
}

.subscribe-label {
  /* align-items: center;
    text-align: center; */
  /* width: 100%; */
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $primary-white-color;

  /* height: 45%; */
}

.subscribe-title {
  display: inline-block;
  /* position: absolute;
    top: 0;
    left: 0; */

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 10px;
  margin-right: auto;
  /* margin-left: 0px; */
}

.subscribe-button {
  display: inline-block;

  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;
  margin-top: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* Вигляд кнопки змінити, коли форму розмітимо */
  color: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;

  transition: color $timing-animation, background-color $timing-animation;
}
.subscribe-button:hover,
.subscribe-button:focus {
  color: $primary-white-color;
  background-color: $accent-color;
  /* outline-width: 0px; */
  cursor: url(../images/icon-send.svg), pointer;
}

.email-subscribe {
  display: inline-block;
  /* align-items: center; */

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25px;

  /* margin-right: 8px; */
  margin-left: 0;
  height: 50px;

  letter-spacing: 0.03em;
  padding-left: 16px;
  /* padding-top: 15px;
    padding-bottom: 15px; */
  width: 100%;

  color: rgba(255, 255, 255, 0.6);
  background-color: $primary-footer-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
